## Imports

In [1]:
import os

import pandas as pd
import numpy as np
import plotly.express as px

from utils.data_utils import format_policy_data

In [2]:
print(os.getcwd())

c:\Users\gsamp\Documents\AAAAAAA\TFG\covid_prediction

---
## Depracated data exploration

In [4]:
# Load the saved pickle files
hospital_data = pd.read_pickle('data/pickles/hospital_data.pkl')
cases_data = pd.read_pickle('data/pickles/cases_data.pkl')
vaccine_data = pd.read_pickle('data/pickles/vaccine_data.pkl')
policy_data = pd.read_pickle('data/pickles/policy_data.pkl')
policy_vaccine_data = pd.read_pickle('data/pickles/policy_vaccine_data.pkl')

# Nom√©s s'ha de transformar la hospital_data
hospital_data = hospital_data.pivot(index = ['entity', 'iso_code', 'date'],columns='indicator', values='value')
hospital_data = hospital_data.reset_index()

In [6]:
candidate_countries = set()

candidate_countries.update(cases_data['location'].unique())
candidate_countries.intersection_update(vaccine_data['location'].unique())
# candidate_countries.intersection_update(vaccine_by_age_data['location'].unique())
candidate_countries.intersection_update(hospital_data['entity'].unique())

candidate_countries.intersection_update(policy_data['CountryName'].unique())
candidate_countries.intersection_update(policy_vaccine_data['CountryName'].unique())
print(len(candidate_countries))
print(candidate_countries)

44
{'Finland', 'Chile', 'Belgium', 'Australia', 'Switzerland', 'Luxembourg', 'Malta', 'Bulgaria', 'Lithuania', 'Canada', 'United States', 'Romania', 'Germany', 'Latvia', 'Sweden', 'Italy', 'Serbia', 'Cyprus', 'South Korea', 'Malaysia', 'Norway', 'Hungary', 'Slovenia', 'Austria', 'France', 'Croatia', 'Liechtenstein', 'Japan', 'Denmark', 'Ireland', 'Netherlands', 'Poland', 'Singapore', 'Estonia', 'Algeria', 'Iceland', 'Portugal', 'Bolivia', 'United Kingdom', 'South Africa', 'Greece', 'Israel', 'Spain', 'Argentina'}

In [42]:
datasets = {
    "hospital_data": hospital_data,
    "cases_data": cases_data,
    "vaccine_data": vaccine_data,
    "policy_data": policy_data,
    "policy_vaccine_data": policy_vaccine_data
}

In [ ]:
display(hospital_data.head())

indicator,entity,iso_code,date,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new ICU admissions,Weekly new ICU admissions per million,Weekly new hospital admissions,Weekly new hospital admissions per million
0,Algeria,DZA,2020-07-17,62.0,1.381,NaN,NaN,NaN,NaN,NaN,NaN
1,Algeria,DZA,2020-07-18,67.0,1.492,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,DZA,2020-07-20,64.0,1.425,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,DZA,2020-07-21,56.0,1.247,NaN,NaN,NaN,NaN,NaN,NaN
4,Algeria,DZA,2020-07-22,51.0,1.136,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
display(cases_data.head())

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2020-01-05,Afghanistan,0.0,0.0,0,0,NaN,NaN,NaN,NaN
1,2020-01-06,Afghanistan,0.0,0.0,0,0,NaN,NaN,NaN,NaN
2,2020-01-07,Afghanistan,0.0,0.0,0,0,NaN,NaN,NaN,NaN
3,2020-01-08,Afghanistan,0.0,0.0,0,0,NaN,NaN,NaN,NaN
4,2020-01-09,Afghanistan,0.0,0.0,0,0,NaN,NaN,NaN,NaN

In [45]:
display(vaccine_data.head())

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

In [46]:
display(policy_data.head())

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1M_School closing,C1M_Flag,C2M_Workplace closing,C2M_Flag,...,V3_Vaccine Financial Support (summary),V4_Mandatory Vaccination (summary),ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PopulationVaccinated,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0

In [47]:
display(policy_vaccine_data.head())

,CountryName,CountryCode,Jurisdiction,Date,V1_Vaccine Prioritisation (summary),V1_0-4 yrs infants,V1_5-15 yrs young people,V1_Airport/Border/Airline Staff,V1_At Risk 16-19 yrs,V1_At Risk 20-24 yrs,...,V4_People living with a vulnerable/shielding person or other priority group,V4_Police/ first responders,V4_Pregnant people,V4_Primary and secondary school students,V4_Refugees/migrants,V4_Religious/Spiritual Leaders,V4_Residents in an elderly care home,V4_Staff working in an elderly care home,V4_Tertiary education students,V4_Notes
0,Aruba,ABW,NAT_TOTAL,20200101,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,ABW,NAT_TOTAL,20200102,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aruba,ABW,NAT_TOTAL,20200103,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,NAT_TOTAL,20200104,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,NAT_TOTAL,20200105,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
target_countries = ['Spain', 'Sweden', 'Algeria', 'Canada', 'South Africa']

set(target_countries).intersection(candidate_countries)

{'Algeria', 'Canada', 'South Africa', 'Spain', 'Sweden'}

In [67]:
def get_date_range(df:pd.DataFrame, column_name = 'date') -> None:
    """
    Get the date range of a DataFrame column containing dates.

    Args:
        df (pd.DataFrame): A pandas dataframe containing a date column.
        column_name (str, optional): Name of the column which contains the dates. Defaults to 'date'.
    """
    if type(df[column_name].iloc[0]) != pd.Timestamp:
        df[column_name] = pd.to_datetime(df[column_name])
    min_date = df[column_name].min()
    max_date = df[column_name].max()
    print(f"Date range: {min_date.date()} to {max_date.date()}")

In [79]:
target_countries = list(set(target_countries + ['Chile', 'Bolivia']))
for country in target_countries:
    temp_hospital_data = hospital_data.loc[hospital_data['entity'] == country].copy()
    print(f"Range of Dates for {country}")
    get_date_range(temp_hospital_data)
    print("-----------------------------")

Range of Dates for Canada
Date range: 2020-04-01 to 2024-03-26
-----------------------------
Range of Dates for Chile
Date range: 2020-04-01 to 2023-08-31
-----------------------------
Range of Dates for South Africa
Date range: 2020-03-05 to 2022-07-26
-----------------------------
Range of Dates for Spain
Date range: 2020-08-01 to 2023-06-11
-----------------------------
Range of Dates for Sweden
Date range: 2020-03-13 to 2024-04-05
-----------------------------
Range of Dates for Bolivia
Date range: 2021-05-08 to 2022-10-13
-----------------------------
Range of Dates for Algeria
Date range: 2020-07-17 to 2022-12-23
-----------------------------

## hola

```markdown
## To-Do List

1. **Triar pa√Øsos disponibles**
    - Comprobar quins pa√Øsos apareixen en els datasets
    - Netejar datasets amb nom√©s els pa√Øsos disponibles

2. **Comprobar span temporal**
    - Mirar on comen√ßa i on acaba cada timestamp per pa√Øs en els datasets
    - Tallar a timestamp m√©s curt?
```

#### Load  and adapt data

In [32]:
###############################################################
hospital_data = pd.read_pickle('data/pickles/hospital_data.pkl')
cases_data = pd.read_pickle('data/pickles/cases_data.pkl')

hospital_data = hospital_data.pivot(index = ['entity', 'iso_code', 'date'],columns='indicator', values='value')
hospital_data = hospital_data.reset_index()

In [33]:
folder_path = r'data\timeseries_pickles'

# Explicit mapping of file names to variable names
file_to_variable_map = {
    "ContainmentHealthIndex.pkl": "c_index",
    "EconomicSupportIndex.pkl": "e_index",
    "GovernmentResponseIndex.pkl": "g_index",
    "StringencyIndex.pkl": "s_index"
}

# Dictionary to store the loaded DataFrames
pickles_dict = {}

# Load the pickles and assign them to variables dynamically
for file_name, variable_name in file_to_variable_map.items():
    file_path = os.path.join(folder_path, file_name)
    if os.path.exists(file_path):  # Check if the file exists
        pickles_dict[file_name] = pd.read_pickle(file_path)
        # globals()[variable_name] = pickles_dict[file_name]
    else:
        print(f"Warning: {file_name} not found in {folder_path}")

In [34]:
c_index = pickles_dict['ContainmentHealthIndex.pkl']
e_index = pickles_dict['EconomicSupportIndex.pkl']
g_index = pickles_dict['GovernmentResponseIndex.pkl']
s_index = pickles_dict['StringencyIndex.pkl']
policies_datasets = [c_index, e_index, g_index, s_index]

#### Check and clean available countries

In [35]:
# Get the common countries in all the policy datasets and the cases dataset
policy_countries = set(c_index.CountryName).intersection(e_index.CountryName, g_index.CountryName, s_index.CountryName)
cases_countries = set(hospital_data.entity).intersection(cases_data.location)
all_countries = policy_countries.intersection(cases_countries)

#explanation
print(f"Countries in policy data: {len(policy_countries)}")
print(f"Countries in cases data: {len(cases_countries)}")
print(f"Total Available countries: {len(all_countries)}")
print(list(all_countries))

Countries in policy data: 185
Countries in cases data: 46
Total Available countries: 44
['Lithuania', 'Liechtenstein', 'Romania', 'Malaysia', 'Canada', 'Bulgaria', 'Ireland', 'Germany', 'South Africa', 'Cyprus', 'Croatia', 'Finland', 'Latvia', 'Poland', 'Slovenia', 'Portugal', 'Denmark', 'Israel', 'Japan', 'Bolivia', 'Spain', 'Australia', 'Estonia', 'Malta', 'Algeria', 'Hungary', 'Netherlands', 'Chile', 'Luxembourg', 'South Korea', 'Serbia', 'Greece', 'Norway', 'Switzerland', 'Singapore', 'United Kingdom', 'France', 'Belgium', 'Sweden', 'Italy', 'Iceland', 'Argentina', 'United States', 'Austria']

In [36]:
#take only the countries that are in all datasets
cases_clean = cases_data.loc[cases_data.location.isin(all_countries)].copy()
hospital_clean = hospital_data.loc[hospital_data.entity.isin(all_countries)].copy()

#convert the date column to datetime format
cases_clean['date'] = pd.to_datetime(cases_clean['date'])
hospital_clean['date'] = pd.to_datetime(hospital_clean['date'])

#merge the two dfs by time and location
target_data = pd.merge(cases_clean, hospital_clean, how='inner', 
                       left_on=['location', 'date'], right_on=['entity', 'date']).drop(columns='entity')
# Drop duplicate columns after merging
# target_data = target_data.loc[:, ~target_data.columns.duplicated()]

target_data.head()

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths,iso_code,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new ICU admissions,Weekly new ICU admissions per million,Weekly new hospital admissions,Weekly new hospital admissions per million
0,2020-07-17,Algeria,0.0,0.0,18712,992,3212.0,58.0,5744.0,112.0,DZA,62.0,1.381,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-07-18,Algeria,0.0,0.0,18712,992,3212.0,58.0,5744.0,112.0,DZA,67.0,1.492,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-07-20,Algeria,0.0,0.0,22549,1056,3837.0,64.0,7049.0,122.0,DZA,64.0,1.425,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-07-21,Algeria,0.0,0.0,22549,1056,3837.0,64.0,7049.0,122.0,DZA,56.0,1.247,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-07-22,Algeria,0.0,0.0,22549,1056,3837.0,64.0,7049.0,122.0,DZA,51.0,1.136,NaN,NaN,NaN,NaN,NaN,NaN

#### Comprovaci√≥ volum dades target

In [37]:
time_ranges_cases = cases_clean.groupby('location')['date'].agg(['min', 'max'])
time_ranges_hospital = hospital_clean.groupby('entity')['date'].agg(['min', 'max'])
print("Dates en en el datset de casos: ")
display(time_ranges_cases)
print("-----------------------------")
print("Dates en en el datset de hospital: ")
display(time_ranges_hospital)

Dates en en el datset de casos:

                      min        max
location
Algeria        2020-01-05 2024-08-04
Argentina      2020-01-05 2024-08-04
Australia      2020-01-05 2024-08-04
Austria        2020-01-05 2024-08-04
Belgium        2020-01-05 2024-08-04
Bolivia        2020-01-05 2024-08-04
Bulgaria       2020-01-05 2024-08-04
Canada         2020-01-05 2024-08-04
Chile          2020-01-05 2024-08-04
Croatia        2020-01-05 2024-08-04
Cyprus         2020-01-05 2024-08-04
Denmark        2020-01-05 2024-08-04
Estonia        2020-01-05 2024-08-04
Finland        2020-01-05 2024-08-04
France         2020-01-05 2024-08-04
Germany        2020-01-05 2024-08-04
Greece         2020-01-05 2024-08-04
Hungary        2020-01-05 2024-08-04
Iceland        2020-01-05 2024-08-04
Ireland        2020-01-05 2024-08-04
Israel         2020-01-05 2024-08-04
Italy          2020-01-05 2024-08-04
Japan          2020-01-05 2024-08-04
Latvia         2020-01-05 2024-08-04
Liechtenstein  2020-01-05 2024-08-04
Lithuania      2020-01-05 2024-08-04
Luxembourg     2020-01-05 2024-08-04
Malaysia       2020-01-05 2024-08-04
Malta          2020-01-05 2024-08-04
Netherlands    2020-01-05 2024-08-04
Norway         2020-01-05 2024-08-04
Poland         2020-01-05 2024-08-04
Portugal       2020-01-05 2024-08-04
Romania        2020-01-05 2024-08-04
Serbia         2020-01-05 2024-08-04
Singapore      2020-01-05 2024-08-04
Slovenia       2020-01-05 2024-08-04
South Africa   2020-01-05 2024-08-04
South Korea    2020-01-05 2024-08-04
Spain          2020-01-05 2024-08-04
Sweden         2020-01-05 2024-08-04
Switzerland    2020-01-05 2024-08-04
United Kingdom 2020-01-05 2024-08-04
United States  2020-01-05 2024-08-04

-----------------------------
Dates en en el datset de hospital:

                      min        max
entity
Algeria        2020-07-17 2022-12-23
Argentina      2020-07-01 2022-04-24
Australia      2020-03-31 2023-12-07
Austria        2020-04-01 2023-06-30
Belgium        2020-03-06 2023-06-27
Bolivia        2021-05-08 2022-10-13
Bulgaria       2020-04-26 2023-11-26
Canada         2020-04-01 2024-03-26
Chile          2020-04-01 2023-08-31
Croatia        2020-04-15 2022-08-21
Cyprus         2020-03-09 2023-04-20
Denmark        2020-02-24 2023-06-13
Estonia        2020-01-06 2023-11-26
Finland        2020-03-21 2022-12-01
France         2020-03-18 2023-03-31
Germany        2020-03-01 2023-06-27
Greece         2020-01-06 2023-11-26
Hungary        2023-01-08 2023-11-26
Iceland        2020-10-04 2023-04-23
Ireland        2020-03-01 2023-11-26
Israel         2020-03-02 2023-05-07
Italy          2020-02-24 2024-08-07
Japan          2020-04-28 2024-03-27
Latvia         2020-01-06 2023-11-26
Liechtenstein  2020-03-01 2023-04-04
Lithuania      2020-03-17 2023-11-26
Luxembourg     2020-02-12 2023-03-30
Malaysia       2020-03-24 2024-08-10
Malta          2020-03-08 2023-11-26
Netherlands    2021-01-01 2024-05-31
Norway         2020-02-12 2022-11-13
Poland         2020-04-08 2022-09-21
Portugal       2020-03-05 2022-11-08
Romania        2021-01-10 2023-11-26
Serbia         2020-03-07 2023-06-14
Singapore      2023-02-26 2024-02-18
Slovenia       2020-02-12 2023-03-31
South Africa   2020-03-05 2022-07-26
South Korea    2020-03-28 2023-03-08
Spain          2020-08-01 2023-06-11
Sweden         2020-03-13 2024-04-05
Switzerland    2020-03-01 2023-05-01
United Kingdom 2020-04-01 2023-07-12
United States  2020-07-15 2024-04-25

In [38]:
print(f"Rows in df1: {len(hospital_clean)}")
print(f"Rows in df2: {len(cases_clean)}")
print(f"Rows in merged_df: {len(target_data)}")

Rows in df1: 38769
Rows in df2: 73656
Rows in merged_df: 38760

#### Preparaci√≥ datasets policy

In [39]:
#format policy data to the desired format
c_index_format = format_policy_data(c_index)
e_index_format = format_policy_data(e_index)
g_index_format = format_policy_data(g_index)
s_index_format = format_policy_data(s_index)

In [40]:
#If all the Dates and countries columns are the same we can directly append columns
are_columns_equal = (
    c_index_format['Date'].equals(e_index_format['Date']) and
    c_index_format['Date'].equals(g_index_format['Date']) and
    c_index_format['Date'].equals(s_index_format['Date'])
)

are_columns_equal2 = (
    c_index_format['CountryName'].equals(e_index_format['CountryName']) and
    c_index_format['CountryName'].equals(g_index_format['CountryName']) and
    c_index_format['CountryName'].equals(s_index_format['CountryName'])
)
print("Are the 'Date' columns equal in both DataFrames?", are_columns_equal)
print("Are the 'CountryName' columns equal in both DataFrames?", are_columns_equal2)

Are the 'Date' columns equal in both DataFrames? True
Are the 'CountryName' columns equal in both DataFrames? True

In [41]:
df_all_policies = c_index_format.rename(columns={"Value":"C"}).copy()
df_all_policies['E'] = e_index_format['Value']
df_all_policies['G'] = g_index_format['Value']
df_all_policies['S'] = s_index_format['Value']
df_all_policies.head()

#Nom√©s dades nacionals, no volem dades regionals
df_all_policies = df_all_policies.loc[df_all_policies['Jurisdiction'] == 'NAT_TOTAL'].copy()

In [42]:
print(f"Number of rows in ORIGINAL policies data: {len(df_all_policies)}")
temp = df_all_policies.loc[~((df_all_policies['C'] == 0) & 
                                        (df_all_policies['E'] == 0) & 
                                        (df_all_policies['G'] == 0) & 
                                        (df_all_policies['S'] == 0))]
print(f"Number of rows in NOT NAN cases data: {len(temp)}")
temp
first_date_per_country = temp.groupby('CountryName')['Date'].min()
# To see the full pandas series, you can use the `to_string()` method.
max_date = first_date_per_country.max()
print(f"First date across all countries: {max_date}")

Number of rows in ORIGINAL policies data: 213675
Number of rows in NOT NAN cases data: 207275
First date across all countries: 2020-03-22 00:00:00

segurament el que far√© aqu√≠ ser√† tallar tot lo d'abans de "Max date across all countries: 2020-03-22 00:00:00" perqu√® no hi haur√† policies en els valors que ens donin.

### Preparaci√≥ cases data

1. - Eliminar pa√Øsos que no apareixen en les policies
2. - Eliminar primeres dates sense info ni casos
3. - Unificar dates amb les policies

In [43]:
print(f"Number of rows in ORIGINAL data: {cases_data.shape[0]}")

Number of rows in ORIGINAL data: 411804

In [44]:
temp = cases_data.loc[cases_data['location'] == 'Spain'].copy()
# display(temp.tail())
first_date = temp['date'].min()
last_date = temp['date'].max()
time_difference = pd.to_datetime(last_date) - pd.to_datetime(first_date)

print(f"First date: {first_date}")
print(f"Last date: {last_date}")
print(f"Time difference: {time_difference}")

temp.to_excel('temp/temp_data.xlsx', index=False)

First date: 2020-01-05
Last date: 2024-08-04
Time difference: 1673 days 00:00:00

#### Merging the two datasets

In [45]:
print(df_all_policies.columns)
cases_clean.columns

Index(['CountryCode', 'CountryName', 'RegionCode', 'RegionName', 'CityCode',
       'CityName', 'Jurisdiction', 'Date', 'C', 'E', 'G', 'S'],
      dtype='object')

Index(['date', 'location', 'new_cases', 'new_deaths', 'total_cases',
       'total_deaths', 'weekly_cases', 'weekly_deaths', 'biweekly_cases',
       'biweekly_deaths'],
      dtype='object')

In [54]:
df_all_policies.head()
merged_data = pd.merge(cases_clean, df_all_policies, how='inner', left_on=['location', 'date'], right_on=['CountryName', 'Date'])
# display(merged_data.head())

# Remove duplicated columns
merged_data = merged_data.drop(columns=['CountryName', 'Date', 'CountryCode'])

#Also drop columns that are not needed anymore
#we are only interested in the national data
merged_data = merged_data.drop(columns=['RegionCode', 'RegionName', 'CityCode', 'CityName', 'Jurisdiction'])
display(merged_data.head())

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths,C,E,G,S
0,2020-01-05,Algeria,0.0,0.0,0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,2020-01-06,Algeria,0.0,0.0,0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,2020-01-07,Algeria,0.0,0.0,0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,2020-01-08,Algeria,0.0,0.0,0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,2020-01-09,Algeria,0.0,0.0,0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [55]:
pd.to_pickle(merged_data, 'data/training_data/training_data_v1.0.pkl')

In [52]:
non_na_counts = merged_data.Jurisdiction.notna().sum()
print(non_na_counts)

50644